extends _template.pug
include ../components/page/page.pug
include ../components/button/button.pug

block content
	+page
		| %=symbols=%

		//- pug mixins go here
		+button('Регистрация')

//- add scripts if necessary
//- block prepend scripts
//- 	script(src='')
