.list {
  flex-flow: column wrap;
  margin-top: 5px;
  margin-bottom: 10px;

  &__item {
    position: relative;
    font-size: 12px;
    line-height: 14px;
    color: $info;

    &:not(:last-child) {
      padding-left: 20px;
      margin-bottom: 5px;
    }

    &:not(:last-child)::before {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 14px;
      height: 14px;
      content: '';
      border: 1px solid $info;
      border-radius: 50%;
      transform: translateY(-50%);
    }

    &:not(:last-child)::after {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      content: '';
    }

    &--valid {
      &::after {
        width: 10px;
        height: 9px;
        background: url('%=static=%assets/list/checkmark.svg') no-repeat;
        transform: translate(20%, -50%);
      }
    }

    &--invalid {
      &::after {
        width: 10px;
        height: 10px;
        background: url('%=static=%assets/list/cross.svg') no-repeat;
        transform: translate(20%, -50%);
      }
    }
  }
}
