include ../validation-rules-container/validation-rules-container.pug
include ../button/button.pug
include ../icon/icon.pug

mixin form-user-registration(data)
	+b('form').form-user-registration--invisible&attributes(attributes)
		+e('button').button--close(type='button')
			+icon('close', 19, 19)
		fieldset
			legend Регистрация

			+e('div').field.form-field__.--email
				label(for='email') E-mail
				input(type='email', name='email', id='email')
				+e('p').feedback

			+e('div').field.form-field__.--nickname
				label(for='nickname') Никнейм
				input(type='text', name='nickname', id='nickname', placeholder='frontendDeveloper')

				- const nicknameData = {title: 'Никнейм должен содержать:', items: [{modifier:"hasRequiredSymbolsCount",text:"от 3 до 40 символов"},{modifier:"hasValidSymbols",text:"латинские буквы, или цифры, или символ подчеркивания"}]};

				+validation-rules-container(nicknameData)(class='__validation-rules-container--invisible')
				+e('p').feedback

			+e('div').field.form-field__.--password
				label(for='password') Пароль
				input(type='password', name='password', id='password')

				- const passwordData = {title: 'Пароль должен содержать:', items: [{modifier:"hasRequiredSymbolsCount",text:"от 6 до 32 символов"},{modifier:"hasDigit",text:"цифру"},{modifier:"hasLowerAndUpperCase",text:"заглавную и строчную буквы"}]};

				+validation-rules-container(passwordData)(class='__validation-rules-container--invisible')
				+e('p').feedback

			+e('div').field.form-field__.--password-confirmation
				label(for='passwordConfirmation') Пароль ещё раз
				input(type='password', name='passwordConfirmation', id='passwordConfirmation')
				+e('p').feedback

			+e('div').field.form-field__.--user-agreement
				input(type='checkbox', name='userAgreement', id='userAgreement', value='agree')
				label(for='userAgreement') Я принимаю условия <a href='#'>Пользовательского соглашения</a>

			+button('Далее')(disabled=true, type='submit', class='--submit')
