.info {
  &__title {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: $info;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
