.button {
  $button: &;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  min-width: 200px;
  padding: 0;
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: $secondary;
  cursor: pointer;
  background: $primary;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: all 0.5s;

  @include padding-y(13px);
  @include padding-x(30px);

  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  }

  &:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #82b3d9;

    &#{$button}--success {
      background-color: $success;
    }
  }

  &--invisible {
    display: none;
  }
}
