.form-field {
  $form-field: &;

  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 25px;

  label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }

  input {
    width: inherit;
    padding: 12px 20px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid $info;
    transition-duration: 0.5s;
    transition-property: border-color;

    &::placeholder {
      color: $body-color;
    }

    &:active,
    &:focus {
      border-color: $primary;
      outline: none;
    }

    &:invalid {
      border-color: $danger;
    }
  }

  &--email,
  &--password-confirmation {
    margin-bottom: 9px;
  }

  &--user-agreement {
    margin-top: 20px;
    margin-bottom: 15px;

    label {
      position: relative;
      padding-left: 15px;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        display: flex;
        width: 12px;
        height: 12px;
        content: '';
        background-color: transparent;
        border: 1px solid $info;
        border-radius: 3px;
        transform: translateY(-50%);
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 10px;
        height: 9px;
        content: '';
        background: url('%=static=%assets/form-field/checkmark.svg') no-repeat;
        transform: translate(10%, -50%);
      }

      a {
        color: $primary;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        &::before {
          border-color: $primary;
        }
      }

      &:focus {
        outline: none;
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    input {
      display: none;

      &:checked + label::before {
        background-color: $primary;
        border: none;
      }
    }
  }

  &--invalid {
    /* stylelint-disable-next-line no-descending-specificity */
    input {
      border-color: $danger;
    }
  }

  &__validation-rules {
    display: flex;
    flex-flow: column wrap;

    &--invisible {
      display: none;
    }
  }

  &__feedback {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 14px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: $danger;
  }

  &--active {
    & #{$form-field}__validation-rules {
      display: flex;
    }
  }
}
