.form-field {
  $form-field: &;

  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 9px;

  label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }

  input,
  textarea {
    width: inherit;
    padding: 12px 20px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid $info;

    &::placeholder {
      color: $body-color;
    }

    &:active,
    &:focus {
      border-color: $primary;
      outline: none;
    }

    &:invalid {
      border-color: $danger;
    }
  }

  &--sex {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: initial;

    input {
      display: none;
    }

    input:checked + label::after {
      width: 10px;
      height: 9px;
      background: url('%=static=%assets/form-user-info/checkmark.svg') no-repeat;
      transform: translate(20%, -50%);
    }

    label {
      position: relative;
      padding-left: 20px;
      margin-right: 10px;
      margin-bottom: initial;
      font-size: 14px;
      line-height: 1;
      color: $info;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 14px;
        height: 14px;
        content: '';
        border: 1px solid $info;
        border-radius: 50%;
        transform: translateY(-50%);
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        content: '';
      }
    }
  }

  &--education {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: initial;

    #{$form-field}__title {
      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
      }
    }

    select {
      display: flex;
      flex-grow: 1;
      font-size: 12px;
      line-height: 14px;
      color: $info;
      border: 1px solid $info;

      &:focus,
      &:active {
        border: 1px solid $primary;
        outline: none;
      }
    }
  }

  &--about {
    label {
      width: 100%;
    }

    textarea {
      width: 100%;
      min-height: 126px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 25px;
      }
    }
  }

  &--user-agreement,
  &--categories {
    margin-top: 20px;
    margin-bottom: 15px;

    label {
      position: relative;
      padding-left: 15px;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        display: flex;
        width: 12px;
        height: 12px;
        content: '';
        background-color: transparent;
        border: 1px solid $info;
        border-radius: 3px;
        transform: translateY(-50%);
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 10px;
        height: 9px;
        content: '';
        background: url('%=static=%assets/form-field/checkmark.svg') no-repeat;
        transform: translate(10%, -50%);
      }

      a {
        color: $primary;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          outline: none;
        }
      }

      &:hover {
        &::before {
          border-color: $primary;
        }
      }

      &:focus {
        outline: none;
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    input {
      display: none;

      &:checked + label::before {
        background-color: $primary;
        border: none;
      }
    }
  }

  &--categories {
    margin: 0;

    #{$form-field}__title {
      width: 100%;
      margin-bottom: 10px;
    }

    label {
      width: 25%;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &--invalid {
    /* stylelint-disable-next-line no-descending-specificity */
    input {
      border-color: $danger;
    }
  }

  &--valid {
    /* stylelint-disable-next-line no-descending-specificity */
    input {
      border-color: $success;
    }
  }

  &__title {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
  }

  &__validation-rules-container {
    display: flex;
    flex-flow: column wrap;

    &--invisible {
      display: none;
    }
  }

  &__feedback {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 14px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: $danger;
  }

  &--active {
    & #{$form-field}__validation-rules-container {
      display: flex;
    }
  }
}
