.page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  margin: auto;
  overflow: hidden;
  font-family: $font-family-base;
  color: $body-color;
  background-color: $body-bg;
}
